.settings/
.project
.metadata
*.DS_Store
# IntelliJ Files
*.iml
.idea
matsimExamples
**/target
/log_projects.log
*.orig
matsim/docs/doxygen/html
matsim/src/main/java/Doxyfile

# ignore output directories:
output/
/examples/scenarios/Odakyu5/outputSAVbase1dmc1/
/examples/scenarios/Odakyu5/outputSAVbase1dmc2/
/examples/scenarios/Odakyu5/outputSAVbase1dmc3/
/examples/scenarios/Odakyu5/outputSAVbase1dmc4/
